*.swp
*/__pycache__
Data/*
.DS_Store
.conda
.env
clusters/
chroma_db/
squad_chroma_db/

squad_chroma_db_baseline_258_tok/
squad_chroma_db_most_recent_258t_w254/
squad_chroma_db_most_recent_low_acc_258t_w128_wtd/
squad_chroma_db_nonlinear_258t_w254/

squad_testing/output/evaluated_squad_baseline_258_tok_filtered.jsonl
squad_testing/output/evaluated_squad_most_recent_258t_w254_filtered.jsonl
squad_testing/output/evaluated_squad_most_recent_low_acc_258t_w128_wtd_filtered.jsonl
squad_testing/output/evaluated_squad_nonlinear_258t_w254_filtered.jsonl

squad_testing/slurm/job_logs/
