*.swp
*/__pycache__
Data/*
.DS_Store
.conda
.env
chroma_db/
squad_chroma_db/

squad_chroma_db_baseline_258_tok/
squad_chroma_db_most_recent_258t_w254/
squad_chroma_db_most_recent_low_acc_258t_w128_wtd/
squad_chroma_db_nonlinear_258t_w254/

squad_testing/slurm/job_logs/
